{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}
<div class="card card-body">
    <table class="table table-sm">
        <tr>
            <th>Products</th>
            <th>Date Order</th>
            <th>Status</th>

        </tr>
        {% for order in orders %}
            <tr>
                <td>{{order.product}}</td>
                <td>{{order.date_created}}</td>
                <td>{{order.status}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}